################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sem4_Lab2_EntityFramework_Task2/v16/Server/sqlite3/db.lock
